
body{
    background:rgb(154, 146, 146);
    min-height:100vh;
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
}

button{
    font-size:42px;
    padding:30px;
    margin:10px;
    width:250px;
    height:250px;
    display:flex;
    align-items:center;
    justify-content:center;
}

img{
    width:220px;
    height:230px;
    align-items:center;
    justify-content:center;
}

h1{
    color:blanchedalmond;
    margin-top:-390px;
    margin-left:-277px;
    
}

p{
    color: antiquewhite;
}

h3{
    margin-top:400px;
    margin-left:-250px;
    
    
}



